<!DOCTYPE html>
<html>
	<head>
	  <title>{{ page.title }}</title>
	  <!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	  <nav>
            <h1>"Leaning in" and "Having it All" at Stanford</h1>
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/origins/">Origins</a></li>
	      <li><a href="/framework/">Theory</a></li>
	      <li><a href="/analysis/">Analysis</a></li>
	      <li><a href="/others/">Others</a></li>
	    </ul>
	  </nav>
	  <div class="container">

	    {{ content }}

	  </div><!-- /.container -->
	  <footer>
	    <ul>
	      &copy;2018. Contributed by Abigail Tarquinio, Alan Aw and Maria Kent
	    </ul>
	  </footer>
	</body>
</html>
